<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.ts" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.ts\/debug[\/]?" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="app.ts" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
